.title{
    font-family: var(Source);
    font-size: 4em; 
    margin-top: 3%;
    color: #007bff;
}
.text{
    font-family: var(Source);
    background: rgb(156, 156, 255);
    margin: 10%;
    margin-top: 1%;
    border-radius: 10px;
    font-size: 2em;
    box-shadow: 2px 2px 5px black;
    padding: 1% 2% 1% 2%;
}