@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Raleway:wght@300&family=Source+Sans+Pro&display=swap');

:root{
    --Jost: "Jost",cursive;
    --Raleway: "Raleway",cursive;
    --Source:"Source Sans Pro",cursive;
}

*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 60px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
    background-color: #007bff;
}
  
.header li{
    float: left;
}
  
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.header li a:hover {
    background-color: blue
}

.btn-success{
    vertical-align: center;
    display: inline;
    float: right;
    margin: 7px 12px 0 0;
}

.logo{
    width: 80px;
    height: 50px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.options{
    line-height: 55px;
    padding: 2%;
    color: white;
    font-family: var(Source);
}

/*-------------------------------------------*/

footer {
    background-color: #007bff;
    color: #bbb;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: white;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    font-family: var(--Raleway);
}

.ft-title a{
    font-family: var(--Raleway);
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
    font-family: var(--Raleway);
}

.ft-main-item p{
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1rem 1rem;
    height: 90px;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.10rem;
    font-size: 1.25rem;
    padding: 1%;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
    height: 60px;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}