/*------------------------------*/
.prod-main {
    padding: 0 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.prod-main2 {
    padding: 1.25rem 0;
    display: flex;
    flex-wrap: wrap;
}

.prod-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px gfgfgd */;
}

.prod-title {
    color: black;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    font-family: var(--Raleway);
}

.prod-title a{
    font-family: var(--Raleway);
}


table{
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
}

.tableimg{
	border-style: none none solid none;
	border: 1px solid #e6e6e6;
	text-align: center;
}

.tabl{
	background-color: #fff;
	height:430;
}

#div2{
	padding: 0 1rem;
	margin: 0 0 0 55px;
    position: relative;
	/*box-shadow: 5px 5px 5px gray;*/
}

.preco{
	font-size: 44px;
	padding-left: 30px;
	padding-bottom: 2px;
    font-family: var(--Raleway);
	align: center;
	line-height: 0;
    overflow: hidden;
	text-overflow: ellipsis;
}

.preco2{
	font-size: 24px;
	text-indent: 12;
	padding-left: 15px;
}

.titulo{
	padding-left: 30px;
	color: black;
    font-size: 26px;
    padding-bottom: 2px;
    font-family: var(--Raleway);
	align: center;
    line-height: 1;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titulo2{
	padding-left: 15px;
	color: black;
    font-size: 14px;
    font-family: var(--Raleway);
	align: center;
}

.mensage{
	padding-left: 30px;
	color: black;
    padding-bottom: 2px;
    font-family: var(--Raleway);
	align: center;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
	
}
main{
	background-color: #eeeeee;
}

label{
	padding-left: 30px;
}

#div{
	padding:0;
	margin: 0 0 0 55px;
    position: relative;
	/*box-shadow: 5px 5px 5px gray;*/
}



#div a:link,#div a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
#div a:hover, #div a:active {
  color: black;
  text-decoration: none;
}

#div1{
	padding:0;
	margin: 5px 10 5px 25px;
    position: relative;
	/*box-shadow: 5px 5px 5px gray;*/
}

#div1 a:link,#div1 a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
#div1 a:hover, #div1 a:active {
  color: black;
  text-decoration: none;
}

.button {
  background-color: #00d188;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
}

.frete{
  background-color: #00d188;
  border-radius: 7px;
  padding:2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
}

#select {
  background-color: #00d188;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  width: 250px;
}
/*------------------------------*/

#tabdesc {
	width: 101%;
	height:400px;
}

#desc{
	padding-left: 50px;
	color: black;
	font-size:18px;
    padding-bottom: 2px;
    font-family: var(--Raleway);
	align: center;
    overflow: hidden;
    text-overflow: ellipsis;
	word-wrap: break-word;
	width:450px;
	height:400px;
}
	

select {
  background-color: #00d188;
  color: white;
  padding: 3px 1px;
  border: none;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

h3{
	padding-left: 50px;
	color: black;
    padding-bottom: 2px;
    font-family: var(--Raleway);
	align: center;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}